<hr>
Game id: <%= game.id %> <br>
Game started: <%= game.started %> <br>
Game completed: <%= game.completed %> <br>
Game round_num: <%= game.round_num %> <br>
Game room (<%= game.room.id %>): <br>
<%= render game.room %>
