<hr>
Player id: <%= player.id %> <br>
Player uid: <%= player.uid %> <br>
Player username: <%= player.username %> <br>
Player score: <%= player.score %> <br>
Player in room: <%= player.room.id %> <br>


