<hr>
Room id: <%= room.id %> <br>
Room seats_available: <%= room.seats_available %> <br>
Room players (<%= room.players.map(&:username).join(', ') %>): <br>
<% room.players.each do |player| %>
<%= render player %>
<% end %>

