.dice-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 180px;
	height: 180px;	
}

.dice-wrapper .die {
	width: 50px;
	/*margin: 5px;*/
	height: 50px;
	max-height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}