html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgba(180,180,180,1);
    padding: 20px;
}

.app-menu {
    list-style: none;
}

.app-menu li {
    height: 30px;
}

.app-menu li:hover {
    background-color: rgba(200,200,200,1);
}